.all{
    background-color: #8AA74B;
    height: 88.6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 8px #597d09 inset;
}

.card{
    border: solid;
    height: 700px;
    width: 600px;
    justify-content: space-evenly;
    margin: 8px;
}

.img{
    height: 300px;
    width: 350px;
    border-radius: 5%;
}