.all {
    background-color: #8AA74B;
    height: 88.6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 8px #597d09 inset;
}

.card {
    display: flex;
    height: 600px;
    width: 1000px;
    margin: 8px;
    align-items: center;
    background-color: #597d09;
}

.img {
    height: 500px;
    width: 550px;
    border-radius: 5%;
    margin: 2%;
}

.cont {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.name {
    font-family: ui-monospace;
    color: black;
    font-style: oblique;
    font-weight: bold;
    -webkit-text-stroke: thin;
}