.all {
    background-image: url('C:\Users\Jocho\OneDrive\Escritorio\HENRY\PI-Dogs\client\src\components\Init\image (2).png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.title {
    color: rgb(13, 138, 34);
    font-style: oblique;
}

.container{
    border: outset;
    border-radius: 3%;
    height: 150px;
    width: 400px;
    background-color: bisque;
    opacity: 90%;
}

.btn{
    border: 1px solid #995309;
    border-radius: 4px;
    background-color: #BBCC8D;
    font-size: 1.5rem;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%) inset, 0 1px 3px rgb(0 0 0 / 20%);
    background-image: linear-gradient(#BBCC8D 10%, #BBCC8D 100%);
    height: 41px;
}

.btn:hover{
    border: 1px solid #995309;
    border-radius: 4px;
    background-color: rgb(13, 138, 34);
    color: #BBCC8D;
    font-size: 1.5rem;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%) inset, 0 1px 3px rgb(0 0 0 / 20%);
    background-image: linear-gradient(rgb(13, 138, 34) 10%, rgb(13, 138, 34) 100%);
    height: 41px;
}
/* .container:hover{
    border: inset;
    border-radius: 3%;
    height: 150px;
    width: 200px;
    background-color: bisque;
    opacity: 90%;
} */