.all {
    background-image: url('C:\Users\Jocho\OneDrive\Escritorio\HENRY\PI-Dogs\client\src\components\Init\image (2).png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: rgb(13, 138, 34);
}

.container{
    border: outset;
    border-radius: 3%;
    height: 150px;
    width: 200px;
    background-color: bisque;
    opacity: 90%;
}

/* .container:hover{
    border: inset;
    border-radius: 3%;
    height: 150px;
    width: 200px;
    background-color: bisque;
    opacity: 90%;
} */