.all {
    /* background-image: url('https://lh3.googleusercontent.com/proxy/K8-U4b0OIMT6fngmWkbvkrX9dNcqv4BjvrfT_ZEHzKDslMTMWacfmchMtMn4Qk_BScvEVH4vCExxCPcOAYwNcQX1'); */
    background-repeat: no-repeat;
    
    background-size: cover;
    background-color: #BBCC8D;
}