.all {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    align-items: center;
    border: double;
    border-color: #A9803E;
    background: #C9AF8B;
    margin: 20px;
    opacity: 85%;
    border-radius: 10%;
}

.title{
    font-family: Arial;
    text-decoration: none;
    color: #292f2f;
}

.img {
    width: 200px;
    height: 250px;
}

.temp{
    font-family: Arial;
    color: #292f2f;
}